.section__two {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  min-height: 1040px;
  background: url('/img/section-2.jpg') center center no-repeat;
  background-size: cover;

  .section__container {
    max-width: 606px;
    padding: 0 21px;
    margin-right: -606px;
  }

  &-title {
    position: relative;
    font-family: "MonsterRat-light";
    font-size: 50px;
    color: #3c3950;
    text-transform: uppercase;
    padding-bottom: 25px;
    margin-bottom: 25px;

    b {
      font-family: "MonsterRat-bold";
    }

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      background: #00bcd4;
      width: 170px;
      height: 1px;
    }
  }

  &-descr {
    font-family: "MonsterRat-light";
    font-size: 24px;
    color: #5f727f;
    line-height: 37px;
    margin-bottom: 30px;
  }

  &-learnbtn {
    font-family: "MonsterRat-light";
    font-size: 19px;
    color: #00bcd4;
    border: 1px solid;
    border-color: #00bcd4;
    background-color: transparent;
    padding: 10px 25px;
    text-transform: uppercase;
    cursor: pointer;
    transition: .3s;

    &:hover {
      background-color: #00bcd4;
      color: #fff;
    }
  }
}
